* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
  background: rgba(0, 0, 0, 0);
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}
